module.exports = {
   // 서비스 구동 포트
  port: '${port number}',
  // 텔레그램 봇 연동을 위한 token
  telegramBotToken: '${string-telegram-bot-token}',
  webHook: {
    // self-signed certificate 적용을 위한 물리 key 파일 경로
    key: '${string-key-file-path}',
    cert: '${string-pem-file-path}'
  }
}