doctype html
html(lang='ko')

  head
    title Sorry!
    meta(charset='UTF-8' name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css')

  body
    h1.title Sorry!
    h2.subtitle Something went wrong!
    
Copy
